body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sp-cell {
  min-width: 200px;
  margin-bottom: 0;
  padding-bottom:0;
}

.sp-input-sizer {
  min-height: 32px;
}

/* .sp-cell-disabled {
  min-height: 34px;
} */

.sp-expandable-input {
  min-width: 200px;
  max-width: 1000px;
  flex-wrap: nowrap;
  min-height: 32px;
}

.sp-grid-header{
  min-width: 50px;
  text-align: center;
  background-color: RGB(250, 250, 250) !important;
  font-weight: 500;
}

.sp-grid {
  max-height: 80vh;
 
}

.sp-grid-body {
  max-height: 80vh;
  overflow-y: scroll;
}

.sp-row-head {
  position: sticky;
  left: 0;
}

.sp-col-head {
  position: sticky;
  top:0;
}

.sp-dropdown {
  position:absolute;
  background-color: white;
  z-index: 100;
  box-shadow: lightgray 0 0 10px;
  margin-left: 16px;
}

.sp-menu-button {
  border: none;
  margin: 16px 0 0 16px;
  padding: 3px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 13pt;
  background-color: white;
}

.sp-menu-button.selected {
  background-color: RGB(230, 230, 230);
  border-radius: 0 !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.sp-menu-button:hover, .sp-style-button:hover {
  background-color: RGB(230, 230, 230) !important;
  border: 0;
  border-radius: 4px;
}

.sp-submenu-option {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.sp-submenu-option:hover {
  background-color: RGB(240, 250, 255);
}

.sp-menu-bar {
  display: flex;
}

.sp-selected, .sp-selected>div:not(.active)>div {
  background-color: RGB(240, 250, 255) !important;
}

.active, .active>div {
    background-color: white !important;
  }

  .sp-two-panel .sp-grid-box {
    max-width: calc(80%);
  }

  .sp-grid-box {
    max-height: calc(100vh - 48px);
  }

  .sp-two-panel {
    display:flex;
    flex-wrap: nowrap;
  }

  .sp-help-menu {
    /* box-shadow: RGB(240, 240, 240) 0 0 10px; */
    width: 75%;
    height: 75%;
    border-radius: 4px;
    padding: 10px 30px;
    flex-wrap: wrap;
    align-items: top;
    align-content: flex-start;
    
    /* overflow: auto; */
  }

  .sp-help-menu .sp-panel-close, .sp-help-menu h3 {
    
    width: 100%;
    height: fit-content;
    /* overflow: auto; */
  }

  .sp-help-section h4 {
    padding-bottom: 9px !important;
  }

  .sp-help-section {
    height: fit-content;
    padding-bottom: 24px;
  }

  .sp-help-section li{
    padding-bottom: 12px;
  }

  /* .sp-help-section li li{
    padding-bottom: 6px;
  } */

  .sp-help-interior {
    height:calc(100% - 108px);
    /* calc(100% - 80px) */
    /* width: calc(75% - 30px); */
  }

  .sp-grey-out {
    background-color: RGBA(0,0,0,.50);
    z-index: 100;
  }

  .sp-panel-close {
    font-size: 20pt;
    cursor: pointer;
    text-align: end;
    padding-right: 15px;
    padding-top: 5px;
    color: RGB(130, 130, 130);
  }

  .sp-panel-close:hover {
    color: RGB(215, 215, 215);
  }

  .sp-side-panel {
    
    width: calc(20% - 40px);
    margin: 20px;
    margin-top: 24px;
    border-radius: 16px;
    height: calc(100vh - 92px);
    box-shadow: RGB(240, 240, 240) 0 0 10px; ;
  }

  .sp-panel-interior {
    max-width: calc(100% - 48px) !important;
    height:fit-content;
    max-height: calc(100% - 60px);
    overflow-wrap: break-word;
   
  }

  .sp-panel-int-body {
    /* overflow-y: scroll; */
    height: calc(100% - 60px);
    display:flex;
  }

  .sp-work-space {
    width: 100vw;
  }

  .rcp-interactive, .rcp-body {
    background-color: white;
    color:black;
    /* box-shadow: lightgray 0 0 10px; */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .rcp-interactive, .rcp-root, .rcp-saturation {
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    
  }

  .rcp-saturation {
    cursor: default !important;
  }

  .rcp-root {
        box-shadow: lightgray 0 0 10px;
        background-color: RGBA(0,0,0,0);
        flex-shrink: 1;
    
        justify-content: center;
  }



  .rcp input {
    border: 1px solid grey;

  }

  .sp-color-picker input {
    color:black;

  }

  .sp-color-picker {
    width: 200px;
    z-index: 100;
    right: 16px;
    top: 48px;
  }

  .sp-style-button {
    font-size: 14pt !important;
    margin-left:3px;
    margin-right: 3px;
    width: 38px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    line-height: 19px !important;
    border: 0px !important;
    border-radius: 4px !important;
  }

   .sp-style-button:hover {
    border: 0px !important;
    border-color:#ffffff;
   }


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  *::-webkit-scrollbar-track {
    background: RGB(250, 250, 250);
    width:14px;
    height: 14px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: RGB(200, 200, 200);
    border-radius: 10px;
    border: 1px solid RGB(250, 250, 250);
  }